html { height: 100% }
body { height: 100%; margin: 1%; padding: 0 }
#map_canvas { width: 84%;
              height: 90%;
              float: left;
              margin: 3px; }
#controls { width: 14%;
            height: 90%;
            float: left;
            background-color: #cccccc;
            margin: 3px; }
#legend { width: 60em;
          margin-left: auto;
          margin-right: auto;
          clear: both; }
#legend_table { border-collapse: collapse }
#nav_links { float: left;
             width: 49%;
             margin: 3px; }
#user_info { float: left;
             width: 49%;
             text-align: right;
             margin: 3px; }
/* Look at clearfix */