<div id="measurement_selector">
  <form>
    Show
    <input type="radio"
           class="measurement_selector_radio"
           name="measurementsShown"
           value="1"
           checked="1">
    Valid measurements
    <input type="radio"
           class="measurement_selector_radio"
           name="measurementsShown"
           value="2">
    Incorrect measurements
    <input type="radio"
           class="measurement_selector_radio"
           name="measurementsShown"
           value="0">
    All measurements
  </form>
</div>
