<p>
  <form>
    Depth measurements shown:<br>
    <input type="radio"
           class="measurement_selector_radio"
           name="measurementsShown"
           value="1"
           checked="1">
    Valid only<br>
    <input type="radio"
           class="measurement_selector_radio"
           name="measurementsShown"
           value="2">
    Incorrect only<br>
    <input type="radio"
           class="measurement_selector_radio"
           name="measurementsShown"
           value="0">
    All
  </form>
</p>
