<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon"
          href="{{ vars.shortcut_icon }}" />

    <link rel="stylesheet"
          href="{{ vars.css }}"
          type="text/css" />
    <title>Map</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script src="/static/jquery.cookie.js">
    </script>

    <script type="text/javascript">
      var require = {
         baseUrl: "{{ vars.static_path }}",
         urlArgs: "bust=" + (new Date()).getTime(), // For dev.
      };
    </script>

    <script type="text/javascript"
            src="{{ vars.requirejs }}">
    </script>
    <script type="text/javascript"
            src="{{ vars.map_main }}" >
    </script>

    <script type="text/javascript">
      // Set json on for JQuery cookies.
      $.cookie.json = true;

      var mapsKey = "{{ vars.maps_key }}";
      var viewName = "{{viewName}}";
      window.onload = loadMap;
    </script>
  </head>
  <body>
    <div id="nav_links">
      {% if vars.user_email %}
      <a href="{{ vars.trip_map }}">Trip view</a>
      <a href="{{ vars.depth_map }}">Depth view</a>
      {% endif %}
      &nbsp;
    </div>
    <div id="user_info">
      {% if vars.user_email %}
      Logged in as {{ vars.user_email }}.
      <a href="{{ vars.logout }}">Log out</a>
      {% else %}
      <a href="{{ vars.login }}">Log in</a>
      {% endif %}
    </div>
    <div id="controls"> </div>
    <div id="map_canvas"> </div>
    <div id="legend"> </div>
  </body>
</html>
