<!DOCTYPE html>
<html>
  <head>
    {% include 'style_and_favico.html' %}
    <title>Update trip info</title>
  </head>
  <body>
    {% include 'header.html' %}
    {% if success_msg %}
      <p>{{success_msg}}</p>
    {% endif %}

    {% if error_msg %}
      <p class="error">{{error_msg}}</p>
    {% endif %}

    <form id="update_form" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}

      {% macro field_error(field) %}
        <td class="error">
        {% if field.errors %}
            {% for error in field.errors %}
               {{ error }} <br>
            {% endfor %}
        {% endif %}
        </td>
      {% endmacro %}

      <table id="upload_form_tab">
        <tr>
          <td>{{ form.trip_name.label }}</td>
          <td>{{ form.trip_name(class="trip_text") }}</td>
          {{ field_error(form.trip_name) }}
        </tr>
        <tr>
          <td>{{ form.trip_date.label }}</td>
          <td>{{ form.trip_date(class="trip_text") }}</td>
          {{ field_error(form.trip_date) }}
        </tr>
        <tr>
          <td>{{ form.vessel_name.label }}</td>
          <td>{{ form.vessel_name(class="trip_text") }}</td>
          {{ field_error(form.vessel_name) }}
        </tr>
        <td>
          <td colspan="2">
            <input type="submit" value="Update">
          </td>
      </table>
    </form>
  </body>
</html>
